{% extends 'base.html.twig' %}

{% block title %}{{parent() ~ ' - ' ~ category.label}}{% endblock %}

{% block main %}
    <h1>Projet(s) de la catégorie "{{ category.label }}"</h1>

<div class="row row-cols-1 row-cols-md-3">
    {% for project in category.projects %}
        <div class="col mb-4">
            {% include 'project/_card.html.twig' %}
        </div>
    {% endfor %}
</div>
{% endblock %}
