<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    {% for category in categories %}
        <a class="dropdown-item" href="{{ path('category_show', {'slug': category.slug}) }}">{{ category.label }}</a>
    {% endfor %}
</div>
