<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}InitiaVille{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}

    {% include 'default/_menu.html.twig' %}

    <main class="main-content container">
        {% block main %}
            <h1>TEST</h1>
        {% endblock %}
    </main>


    <footer class="footer">
        <div class="container">
            <span class="text-muted">InitiaVille</span>
        </div>
    </footer>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock %}
</body>
</html>
