<form class= "mt-2" method="post" action="{{ path('user_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer votre compte ? Tous vos projets seront supprimés.');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
    <button class="btn btn-danger">Supprimer mon compte</button>
</form>
