{% extends 'project/_card.html.twig' %}

{% block buttons %}
    <a href="{{ path('project_show', {'slug': project.slug}) }}" class="btn btn-primary">
        <i class="fa fa-eye"></i>
        Voir plus
    </a>
    <a href="{{ path('project_edit', {'slug': project.slug}) }}" class="btn btn-secondary">
        <i class="fa fa-pencil"></i>
        Modifier
    </a>
    <a href="{{ path('project_delete', {'slug': project.slug}) }}" class="btn btn-danger">
        <i class="fa fa-trash"></i>
        Supprimer
    </a>
{% endblock %}


