{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block main %}

    <h1>Mon compte</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <hr>

    <h2>Mes projets</h2>
    <div class="row row-cols-1 row-cols-md-2">
        {% for project in user.projects %}
            <div class="col mb-4">
                {% include 'user/_user-project-card.html.twig' %}
            </div>
        {% endfor %}
    </div>
    <div class="col mb-4">
        <a href="{{ path('project_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus-circle"></i>
            Proposer un nouveau projet
        </a>
    </div>

{% endblock %}
